<!-- SHOW INDIVIDUAL WORKOUT PLAN -->

<a href='/workouts/new' id='add-new-workout-link' class="btn-floating btn-large waves-effect waves-light red hoverable"><i class="material-icons">add</i></a>
<div class="card">
  <div class="card-content">
    <h3><%= workout.name %></h3>
    <h5>Upvotes: <%= workout.upvotes %></h5>
    <a href="/workouts/<%= workout._id %>/like">Like</a>

    <p>Created by <%= owner.name %> <a href="/users/<%= owner._id %> ">Link</a></p>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a href="#tab0" class="active" >Sunday</a></li>
      <li class="tab"><a href="#tab1">Monday</a></li>
      <li class="tab"><a href="#tab2">Tuesday</a></li>
      <li class="tab"><a href="#tab3">Wednesday</a></li>
      <li class="tab"><a href="#tab4">Thursday</a></li>
      <li class="tab"><a href="#tab5">Friday</a></li>
      <li class="tab"><a href="#tab6">Saturday</a></li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id='tab0' class='col s12'></div>
    <div id='tab1' class='col s12'></div>
    <div id='tab2' class='col s12'></div>
    <div id='tab3' class='col s12'></div>
    <div id='tab4' class='col s12'></div>
    <div id='tab5' class='col s12'></div>
    <div id='tab6' class='col s12'></div>

  </div>

</div>

<% workout.plan.forEach( (p,i)=>{ %>
  <div class='exercise' data-day='<%= p.day %>' hidden>
  <a href="/exercises/<%= p.exercise %>"><%= p.exercise %></a>
  <span class='chip'> <%= p.reps %> REPS</span>
  </div>
<% }) %>


<script type="text/javascript">
    let exercises = $('.exercise');
    for(let i =0; i < exercises.length; i++){
      const day = $(exercises[i]).attr('data-day');
      $(exercises[i]).show().appendTo(`#tab${day}`);
    }

</script>
