<!-- SHOW INDIVIDUAL WORKOUT PLAN -->
<h1>Program: <%= workout.name %></h1>

Created by <%= owner.name %><a href="/users/<%= owner._id %> ">Link</a>

<% let currentDay = workout.plan[0].day  %>
<h2><%= week[currentDay] %></h2>
<% workout.plan.forEach(p =>{  %>
  <% if(p.day > currentDay){ %>
  <%  currentDay =p.day %>
    <h2><%= week[currentDay] %></h2>
  <% } %>
  <p>

    <a href='/exercises/<%= p.exercise %>'>
    <%= p.exercise %>
    </a>
  </p>

<% }) %>
