<!-- SHOW INDIVIDUAL WORKOUT PLAN -->
<% let currentDay = workout.plan[0].day  %>
<h1><%= workout.name %></h1>

<h2><%= week[currentDay] %></h2>
<% workout.plan.forEach(p =>{  %>
  <% if(p.day > currentDay){ %>
  <%  currentDay ++; %>
    <h2><%= week[currentDay] %></h2>
  <% } %>
  <p>

    <!-- Sets:<%= p.sets %> -->
    <%= p.exercise %>

  </p>

<% }) %>
