<!-- SHOW INDIVIDUAL WORKOUT PLAN -->
<% let currentDay = workout.plan[0].day  %>
<h1><%= workout.name %></h1>

<h2><%= week[currentDay] %></h2>
<% workout.plan.forEach(p =>{  %>
  <% if(p.day > currentDay){ %>
  <%  currentDay =p.day %>
    <h2><%= week[currentDay] %></h2>
  <% } %>
  <p>

    <a href='/exercises/<%= p.exercise %>'>
    <%= p.exercise %>
    </a>
  </p>

<% }) %>
