<!-- SHOW INDIVIDUAL WORKOUT PLAN -->
<h1><%= workout.name %></h1>
<h5>Upvotes: <%= workout.upvotes %></h5>

<a href="/workouts/<%= workout._id %>/like">Like</a>

Created by <%= owner.name %><a href="/users/<%= owner._id %> ">Link</a>

<% let currentDay = workout.plan[0].day  %>
<h5><%= week[currentDay] %></h5>
<% workout.plan.forEach(p =>{  %>
  <% if(p.day > currentDay){ %>
  <%  currentDay =p.day %>
    <h5><%= week[currentDay] %></h5>
  <% } %>
  <p>

    <a href='/exercises/<%= p.exercise %>'>
    <%= p.exercise %>
    -
    <%= p.reps %> reps
    </a>
  </p>

<% }) %>
