<h2>ALL EXERCISES:</h2>

  <% exercises.forEach( exercise =>{ %>
    <div class="col xs12 s6 m4 l3">
      <a href="exercises/<%= exercise.name %>">
      <div class="card hoverable">

        <div class="card-image">
        
          <img id='<%= exercise._id %>'src="<%= exercise.img1 %>">
          <span class="card-title"><%= exercise.name %></span>
        </div>

        <div class="card-content">
          <p><%= exercise.muscle %> </p>
          </div>

        </div>
        </a>
    </div>


  <% }) %>
