<h2>Exercise</h2>

<h3>
  <%= exercise.name %>
</h3>

<p>
  <%= exercise.goal %>
</p>

<p>
  <%= exercise.description %>
</p>

<p>
  <img src="<%= exercise.img1 %>" alt="exercise-pic">
  <img src="<%= exercise.img2 %>" alt="exercise-pic">
</p>
<p>
  <!-- <video width="320" height="240" controls>
  <source src="<%= exercise.video %>" type="video/mp4">
  Your browser does not support the video tag.
  </video> -->
</p>
