<!-- Show user info -->
<h2>User</h2>
 <a href="/logout"> Log Out </a>
<p>
  Name : <%= user.name %>
</p>
<p>
  Goal : <%= user.goal %> weight
</p>
<p>
  ImgUrl : <%= user.img %>
</p>
<p>
  Upvotes : <%= user.upvotes %>
</p>

<!-- Show user created workouts -->

<h2>User Workouts:</h2>
<ul>
  <% workouts.forEach( workout =>{ %>

    <li>
      <a href="/workouts/<%= workout._id %>">
        <%= workout.name %>
      </a>
      <br>

      <% if (myProfile){ %>
        <a href="/workouts/<%= workout._id %>/delete">Delete</a>
      <% } %>
      
    </li>
  <% }) %>
</ul>
