<!-- Show user info -->
<h2>User</h2>
 <a href="/logout"> Log Out </a>
<p>
  Name : <%= user.name %>
</p>
<p>
  Goal : <%= user.goal %> weight
</p>
<p>
  ImgUrl : <%= user.img %>
</p>
<p>
  Upvotes : <%= user.upvotes %>
</p>

<!-- SHOW TODAY AGENDA -->
<% if (currentWO && myProfile){ %>

  <h2>Things for today</h2>
  <h3><%=week[currentDay]%></h3>
  <% let restDay = true %>
  <% currentWO.plan.forEach( w=>{ %>
    <% if(w.day === currentDay){ %>
      <% restDay = false %>
    <div class="exercise">
      <%= w.exercise %>
    </div>
  <% }}) %>
  <% if (restDay){ %>
    <p>
      Today is the rest day
    </p>
  <%}%>
<% } else { %>
  <!-- No program followed -->
<% } %>

<!-- Show user created workouts -->

<h2>User Workouts:</h2>
<ul>
  <% workouts.forEach( workout =>{ %>

    <li>
      <a href="/workouts/<%= workout._id %>">
        <%= workout.name %>
      </a>


      <% if (myProfile){ %>
        <a href="/workouts/<%= workout._id %>/delete">x</a>
      <% } %>

    </li>
  <% }) %>
</ul>

<h2>Favorites:</h2>
<ul>
  <% favorites.forEach( fav =>{ %>
    <li>
      <a href="/workouts/<%= fav._id %>">
        <%= fav.name %>
      </a>
      <a href="/follow/<%= fav._id %>">Follow</a>
    </li>
  <% }) %>
</ul>
