<!-- Show user info -->
<div class="row user">
  <div class="col s12 m6">
    <div class="card-panel hoverable">

      <div class="picker__wrap">
        <img class='profile-picture circle z-depth-4 centered materialboxed'
        src="https://lh3.googleusercontent.com/-y9vU3BHc-xw/AAAAAAAAAAI/AAAAAAAAjgY/fb_G5jN3JjA/s640/photo.jpg" alt="">
      </div>
      <h1>
        <%= user.name %>
      </h1>
      <p>
        Goal : <%= user.goal %> weight
      </p>

      <p>
        Upvotes : <%= user.upvotes %>
      </p>

    </div>
    <div class="card-panel hoverable">
      <!-- SHOW TODAY AGENDA -->
      <div class="row">
        <div class="col s7">
          <h4>TODAY'S AGENDA (<%=week[currentDay]%>)</h4>
        </div>
        <div class="col s5">
          <h5>Following:<br> <a href="/workouts/<%=currentWO._id%>"><%=currentWO.name%></a></h5>
        </div>
      </div>
      <div class="row">

      </div>
      <% if (currentWO && myProfile){ %>
        <% let restDay = true %>
        <% currentWO.plan.forEach( w=>{ %>
          <% if(w.day === currentDay){ %>
            <% restDay = false %>
            <div class="exercise">
              <a href='/exercises/<%= w.exercise %>'
                class="waves-effect waves-green btn-flat" ><%= w.exercise %>
              <span class='chip'><%= w.reps %> REPS</span>
            </a>

            </div>
            <% }}) %>
            <% if (restDay){ %>
              <p>
                Today is the rest day
              </p>
              <%}%>
              <% } else { %>
                <!-- No program followed -->
                <% } %>
      </div>
  </div>

  <div class="col s12 m6">
    <div class=" card-panel hoverable ">


        <a href='/workouts/new' id='add-new-workout-link-2'
         class="btn-floating btn-large waves-effect waves-light red tooltipped"
         data-position="bottom" data-delay="50" data-tooltip="Create New Workout">
          <i class="material-icons">add</i></a>
          <h4 class="card-title" >User workouts:</h4>

      <!-- User workouts -->
      <table class="bordered">

        <% workouts.forEach( workout =>{ %>
          <tbody>
          <tr><td>
            <a href="/workouts/<%= workout._id %>" class='waves-effect waves-green btn-flat'>
              <%= workout.name %>
            </a></td>
            <% if (myProfile){ %>
              <td><a href="/workouts/<%= workout._id %>/delete" class='waves-effect waves-red btn-flat'>
                <i class="material-icons large tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete">delete_forever</i>
              </a></td>
              <% } %>

            </tr>
            <% }) %>
          </tbody>
        </table>
    </div>
    <div class="card-panel hoverable">
      <h4 class="card-title">Favorites:</h4>

      <!-- Favorites -->
      <table class='bordered'>
        <% favorites.forEach( fav =>{ %>
          <tbody><tr>
            <td>
            <a href="/workouts/<%= fav._id %>" class='waves-effect waves-green btn-flat'>
              <%= fav.name %>
            </a>
          </td><td>
            <a href="/follow/<%= fav._id %>" class='waves-effect waves-green btn-flat'>
            <i class="large material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Follow">
              stars</i>
            </a>
          </td>
        </tr></tbody>
        <% }) %>
      </table class='highlight'>
    </div>
  </div>
</div>
