<!-- Show user info -->
<h2>User</h2>
<p>
  Name : <%= user.name %>
</p>
<p>
  Goal : <%= user.goal %> weight
</p>
<p>
  ImgUrl : <%= user.img %>
</p>
<p>
  Upvotes : <%= user.upvotes %>
</p>

<!-- Show user created workouts -->
<h2>User Workouts:</h2>
<ul>
  <% workouts.forEach( workout =>{ %>
    <a href="workouts/<%= workout._id %>">
    <li>
      Name : <%= workout.name %>
    </li>
    </a>
  <% }) %>
</ul>
